<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button class="navbar-toggle" data-target=".navbar-main-collapse" data-toggle="collapse" type="button">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" data-slide="1" style="cursor:pointer;">
        <h1>Pickle Jar</h1>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a data-slide="1" style="cursor:pointer;">Home</a>
        </li>
        <li>
          <a data-slide="2" style="cursor:pointer;">About</a>
        </li>
        <li>
          <a data-slide="3" style="cursor:pointer;">FAQs</a>
        </li>
        <li>
          <a data-slide="4" style="cursor:pointer;">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
