.navbar-brand h1{
  color: #7AC943;
  font-size: 48px;
  line-height: 50px;
  font-family: HoneyScript-SemiBold, sans-serif;
  text-transform: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav.navbar-nav {
  background-color: rgba(255,255,255,.7);
}

.navbar-custom ul.nav li a, .field {
  font-size: 12px;
  letter-spacing: 1px;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom .nav li>a:hover,
.navbar-custom .nav li>a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: $pickleJarGreen;
}

.navbar-custom .nav li ul li a:hover,
.navbar-custom .nav li ul li a:focus  {
  outline: 0;
  color: $pickleJarGreen;
  text-decoration: none;
}

.navbar {
  padding: 20px 0;
  border-bottom: 0;
  letter-spacing: 1px;
  background: 0 0;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.btn-signin {
  width: 100%;
  background: $pickleJarGreen;
  border-color: $pickleJarGreen-dark;
  color: $white;
}


.dropdown-menu  {
  border: 1px solid $mercury;
}



.login  {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);


.help-block{
    font-size:12px
}
.bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
.social-buttons{
    margin:12px 0
}
.social-buttons a{
    width: 49%;
}
.form-group {
    margin-bottom: 10px;
}
}

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
 div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}

button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
button#twitter {
    border-color: #007aa6;
    background-color: #008cbf;
    background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}
button#googleplus {
    border-color: #111;
    background-color: #222;
    text-shadow: #333 -1px -1px 0;
    background-image:url(http://i.tinyuploads.com/KBZc6n.png);
}

div.social-wrap.b button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}
div.social-wrap.b {
}
div.social-wrap.b > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
    ;
}
div.social-wrap.b > .facebook {
    background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
}
div.social-wrap.b > .twitter {
    background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
    ;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.or {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}
