 @font-face{
   font-family: "HoneyScript-SemiBold";
   src: url(asset-path("fonts/HoneyScript-SemiBold.ttf"))
 }

 @font-face{
   font-family: "HoneyScript-Light";
   src: url(asset-path("fonts/HoneyScript-SemiBold.ttf"))
 }

 @font-face {
   font-family: ProximaRegular;
   src: url(asset-path("fonts/ProximaNova-Regular.otf")) format("opentype");
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: ProximaBold;
   src: url(asset-path("fonts/ProximaNova-Bold.otf")) format("opentype");
 }
