@import "font-awesome-sprockets";
@import "font-awesome";
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

@font-face{
  font-family: HoneyScript-SemiBold;
  src: url(asset-path("fonts/HoneyScript-SemiBold.ttf"));
}

@font-face {
  font-family: ProximaRegular;
  src: url(asset-path("fonts/ProximaNova-Regular.otf")) format("opentype");
}

@font-face {
  font-family: ProximaBold;
  src: url(asset-path("fonts/ProximaNova-Bold.otf")) format("opentype");
}

@font-face {
  font-family: JimmySans;
  src: url(asset-path("fonts/JimmySans.otf")) format("opentype");
}
