<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="wow shake" data-wow-delay="0.4s">
          <div class="page-scroll marginbot-30">
            <a class="btn btn-circle" data-slide="1" id="totop">
              <i class="fa fa-angle-double-up animated"></i>
            </a>
          </div>
        </div>
        <p>©Copyright 2015 - Pickle Jar. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
